* {
  box-sizing: border-box;
}

/* Dark mode styles */
.dark-mode {
  --backgroundcolor: #000; /* Dark background */
  --fontcolor: #eee5ca; /* Light text color */
}

body {
  margin: var(--marginNone);
}
body.dark-mode {
  background-color: #333333; /* Background color for dark mode */
}
:root {
  --displayFlex: flex;
  --contentspace: space-between;
  --backgroundcolor: #eee5ca;
  --fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --headerHeight: 5rem;
  --fontcolor: #3a4852;
  --fontsize1: 35px;
  --fontsize2: 25px;
  --fontsize3: 15px;
  --fontweight: 500;
  --gap1: 2rem;
  --gap2: 15px;
  --gap3: 20px;
  --height1: 825px;
  --height2: 250px;
  --marginNone: 0px;
  --margin5: 5%;
  --margin2: 2%;
  --margin10: 10%;
  --margin15: 15%;
  --margin20: 20%;
  --margin25: 25%;
  --margin30: 30%;
  --margin40: 40%;
  --margin60: 60%;
  --headerPadding1: 0px 10% 0px 10%;
  --headerPadding2: 0px 4% 0px 4%;
  --buttoncolor: #d0796b;
  --border-rad: 50px;
  --border-rad1: 15px;
  --border-rad2: 8px;
  --input-height: 3rem;
  --top-padding: 1rem;
  --inputspace: 6px;
  --marginspace: 30px;
}

img {
  width: 200px;
  height: 100%;
}

.container {
  display: var(--displayFlex);
  justify-content: var(--contentspace);
  margin-bottom: var(--margin2);
}

.date {
  font-weight: 500;
  margin-bottom: 0px;
  font-family: var(--fontfamily);
  font-size: var(--fontsize3);
  margin-left: var(--margin20);
  color: var(--fontcolor);
}

.dateSearch {
  border-radius: var(--border-rad);
  overflow: hidden;
  width: 30%;
  background-color: var(--backgroundcolor);
}

.dateFilter {
  font-size: 2vh;
  font-weight: var(--fontweight);
  font-family: var(--fontfamily);
  color: var(--fontcolor);
}

h1 {
  margin: 10% 0px 3% 0px;
  text-align: center;
  width: 100%;
  font-size: var(--fontsize1);
  font-family: var(--fontfamily);
  color: var(--fontcolor);
}

span {
  font-size: var(--fontsize3);
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  font-weight: var(--fontweight);
}

main {
  width: 100%;
  padding: var(--headerPadding1);
  padding-top: var(--margin5);
}

.Day {
  display: var(--displayFlex);
  flex-direction: column;
}
button {
  background-color: transparent;
  border-radius: var(--border-rad2);
  border-width: 1px;
  padding: 2%;
}
section div div button {
  text-align: center;
  height: 30%;
  margin-top: var(--margin5);
  margin-left: var(--margin20);
  margin-right: var(--margin20);
  margin-bottom: var(--margin5);
}

.times {
  display: var(--displayFlex);
  flex-direction: column;
}

.time {
  margin-top: var(--margin5);
  font-size: 2vh;
  font-family: var(--fontfamily);
  font-weight: var(--fontweight);
  color: var(--fontcolor);
  margin-left: var(--margin20);
}
.timefilter {
  margin-left: var(--margin20);
  font-size: var(--fontsize3);
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  font-weight: var(--fontweight);
}

.Prices {
  display: var(--displayFlex);
  flex-direction: column;
  margin-top: var(--margin10);
  margin-left: var(--margin20);
  margin-right: var(--margin20);
  margin-bottom: var(--margin10);
}

.price {
  font-size: var(--fontsize3);
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  font-weight: var(--fontweight);
  margin-bottom: var(--margin5);
}
#listOfWorkers p {
  font-size: var(--fontsize3);
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  font-weight: var(--fontweight);
  text-align: center;
}
#priceValue {
  display: var(--displayFlex);
  justify-content: var(--contentspace);
}

section div button {
  margin-top: var(--margin10);
  margin-left: var(--margin20);
  margin-right: var(--margin20);
  text-align: center;
  width: 60%;
  margin-bottom: var(--margin10);
}
a > button {
  border-radius: var(--border-rad2);
}

.listOfWorkers {
  height: var(--height1);
  overflow: scroll;
  width: 60%;
}

.services {
  background-color: var(--backgroundcolor);
  margin-bottom: var(--margin2);
  display: var(--displayFlex);
  height: var(--height2);
  border-radius: var(--border-rad2);
  overflow: hidden;
}

.picture {
  display: var(--displayFlex);
  width: var(--margin40);
}

.profile {
  align-items: center;
  display: var(--displayFlex);
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-right: var(--margin10);
}

.PriceToTime {
  display: var(--displayFlex);
  width: 30%;
  flex-direction: column;
  margin-right: var(--margin10);
  height: var(--margin10);
  margin-top: var(--margin2);
}

section div article div a button {
  width: var(--margin30);
  margin-left: var(--margin25);
  margin-top: var(--margin10);
}

footer {
  position: relative;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--backgroundcolor);
  height: 100px;
}
