:root {
  --backgroundcolor: #fff;
  --fontcolor: #333;
  --fontsize: 16px;
  --fontweight: 600;
  --headerHeight: 60px;
  --headerPadding1: 20px;
  --headerPadding2: 15px;
  --marginspace: 20px;
  --gap3: 20px;
  --gap2: 15px;
  --fontfamily: "Arial", sans-serif;
}
.navStyle {
  margin-left: var(--marginspace);
  gap: var(--gap3);
  display: flex;
  align-items: center;
}

.navCont {
  width: 100%;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.loginSign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: var(--gap2);
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--fontcolor);
  cursor: pointer;
}

a {
  font-weight: var(--fontweight);
  text-decoration: none;
  color: var(--fontcolor);
  font-family: var(--fontfamily);
}

header {
  background-color: var(--backgroundcolor);
  display: flex;
  height: var(--headerHeight);
  padding: var(--headerPadding1);
}

.loginButton {
  display: flex;
  align-items: center;
}
.order {
  background-color: transparent;
  border: none;
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  font-weight: var(--fontweight);
  font-size: var(--fontsize);
}

.dropDown {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  z-index: 1;
  width: 200px;
}
.dropDown.show {
  display: block;
  background-color: white;
}
h3 {
  font-size: var(--fontsize);
  font-family: var(--fontfamily);
  color: #6c63ff;
  font-weight: var(--fontweight);
}

.order {
  position: relative;
}

.orderStyle {
  background-color: white;
}

.theme-toggle {
  border-radius: 8px; 
  border: 1px solid black;
  background-color: transparent;
}
@media (max-width: 768px) {
  .mainCont {
    height: auto;
  }

  header {
    padding: var(--headerPadding2);
  }

  .navStyle {
    position: fixed;
    top: var(--headerHeight);
    right: -250px;
    height: 100%;
    width: 250px;
    opacity: 0;
    flex-direction: column;
    z-index: 1;
    background-color: var(--backgroundcolor);
    transition: right 0.5s ease, opacity 0.5s ease;
    padding: 1rem 0;
  }

  .navStyle a {
    padding: 10px 0;
    text-align: center;
  }

  .nav-active {
    right: 0;
    opacity: 1;
  }

  .hamburger {
    display: block;
  }
}
