:root {
  --main-bg-color: #f4f4f4;
  --article-bg-color: #f9f9f9;
  --footer-bg-color: #333;
  --button-bg-color: #464749;
  --text-color: #333;
  --footer-text-color: white;
}
 
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--main-bg-color); /* Example of using a CSS variable */
}
 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-bg-color);
}
 
header a img {
  width: 100px;
}
 
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
 
nav a {
  text-decoration: none;
  color: var(--text-color);
}
 
main {
  padding: 2rem;
}
 
article {
  background-color: var(--article-bg-color);
  padding: 1.5rem;
  border-radius: 10px;
}
 
footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}
 
footer a {
  color: var(--footer-text-color);
  text-decoration: none;
  margin: 0 1rem;
}
 
footer .social-media a {
  margin: 0 0.5rem;
}
 
button {
  background-color: var(--button-bg-color);
  color: var(--footer-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
